/* CSS Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: hotpink;
}

.wrapper {

    max-width: 1440px;
    margin: 0 auto !important;
    background: yellowgreen;

}

.navigation-bar{
    width: inherit;
    height: 88px;
    display: flex;
    align-items: center;
    background-color :#AD3241;
    justify-content: space-between;
    
    
}

.nlb-logo{
       
    background: #264EA2;
    height: inherit;
    align-items: center;
    
}

.nlb-logo img{
    width: 46px;
    height: 56px;
    margin: 14px 36px 18px 88px;
    
}

.music-logo{
    height:inherit;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    position: relative;
}

.music-logo .heading{
    font-weight: bold;
    flex-direction: column; 
    font-size: 12px;
    font-style: normal;
    line-height: 15px;
    margin-bottom: 6px;
}

.music-logo img{
    margin: 0;
    position: relative;
    left: -3.5px;   
   
}

.music-logo i{
    color: white;
    width: 24px;
    height: 24px;
    position: relative;
    top: -5px;
}

.one-search {
    width: 192px;
    height: inherit;
    background: #1F9892;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .one-search img {
    width: 113px;
    object-fit: cover;
  }