/* Imports */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");


/* CSS Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* text-decoration: none;
    list-style: none; */
}

body {
    background: hotpink;
    height: max-content !important;
}

/* Main CSS for NLB | Singapore Music starts */

/* Whole wrapper of webpage */
.whole-wrapper {
    max-width: 1440px;
    /* width: 100%; */
    margin: 0 auto;
    background: skyblue;
    height: max-content !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-style: normal;
    font-weight: bold;
    overflow-x: hidden;
}

/* Whole wrapper - iPads, Tablets and  Mobile responsive from 100px */
@media(max-width: 500px) {
    .whole-wrapper {}
}

/* Whole wrapper - Normal desktops responsive  */
@media(min-width: 500.1px) and (max-width: 1080px) {
    .whole-wrapper {}
}




/* Header area - Header 1 (Agency Title) */
#header1 {
    display: flex;
    width: 100%;
    background: #F0F0F0;
    padding: 0 85px;
    font-size: 12px;
    line-height: 15px;
}

/* Header 1 - Singapore Lion Logo */
#header1 img {
    margin: 9px 9px 9px 0;
}

/* Header 1 - Text after Singapore Lion Logo */
#header1 .header1-text {
    margin: 9px 9px 9px 0;
}

/* Header 1 (Agency Title) - iPads, Tablets and Mobile responsive from 100px */
@media(max-width: 800px) {
    #header1 {
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        padding: 0 10px;
    }

    #header1 img {
        margin: 9px 9px;
    }

    #header1 .header1-text {
        margin: 9px 9px;
    }
}

/* Header 1 (Agency Title) - Normal desktops responsive  */
@media(min-width: 800.1px) and (max-width: 1080px) {
    #header1 {
        align-items: center;
        flex-wrap: wrap;
        padding: 0 80px;
    }
}

/* Header 2 (Navigation)  */
#header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}

#header2 .nlb-logo {
    background: #264EA2;
    width: 170px;
    height: inherit;
}

#header2 .nlb-logo img {
    padding: 14px 36px 18px 88px;
}

#header2 .musicSG-logo {
    background: #AD3241;
    color: white;
    width: 1080px;
    height: inherit;
    padding: 14px 14px 27px 24px;
}

#musicSG-images button {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;

}

#header2 .one-search {
    background: #1F9892;
    width: 190px;
    height: inherit;
    cursor: pointer;
}

#header2 .one-search img {
    padding: 33.71px 37.71px 31.98px 37.77px;
}

/* Header 2 (Navigation) - Completely responsive from 140px */
@media(max-width: 500px) {
    #header2 {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #header2 .nlb-logo {
        width: 100%;
        text-align: center;
        height: fit-content;
    }

    #header2 .nlb-logo img {
        padding: 10px;
    }

    #header2 .musicSG-logo {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    #header2 .one-search {
        width: 100%;
        height: fit-content;
        text-align: center;
    }

    #header2 .one-search img {
        padding: 10px;
    }
}

/* Header 3 - Information  */
.information {
    display: flex;
    justify-content: space-between;
    left: 0px;
    height: auto;
    padding: 12px 83px;
    background: #FFFFFF;
    margin: 0 auto;
    flex-wrap: wrap;
}

.info {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #264EA2;
    text-decoration: none;
}

.advance-info {
    margin-left: 380px;
}

.info span {
    margin: 0px 4px;
}

#lib {
    color: #222222;
}

#lib i {
    color: #264EA2;
}

#lib span a {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #264EA2;
    text-decoration: none;
    margin-right: 13px;
}

#book {
    color: #222222;
}

#book span {
    font-size: 14px;
    line-height: 20px;
    color: #264EA2;
    margin-right: 13px;
}


/* Header 3 (Information) Responsive */
@media (max-width: 500px) {
    .information {
        flex-direction: column;
        width: 100%;
        padding: 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .advance-info {
        margin-left: 0px;
    }
}

@media (max-width: 1200px) {
    .information {
        flex-wrap: nowrap;
    }

    .advance-info {
        margin-left: 0px;
    }
}


/* Hero Area (Left)*/
.hero-grid-wrapper {
    background: url(../nlb-images/hero-orchestra.png);
    background-repeat: no-repeat;
    display: flex;    
    color: #FFFFFF;
    justify-content: flex-start !important;
    position: relative;
    height: 393px;
}

.hero-grid-wrapper .hero-text-left {
    margin: 68px 0px 40px 82px;
    width: auto;
    display: flex;
    flex-direction: column;
}

#hero-desc {
    max-width: 525px;
    max-height: 96px;
    font-size: 16px;
    line-height: 32px;
}

#hero-heading {
    max-width: 478px;
    max-height: 40px;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 22px;
    margin-top: 40px;
}

#hero-search {
    max-width: 432px;
    height: 48px;
    border: 0.5px solid #BDBDBD;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#hero-search .btn{
    background: #AD3241;
    color: #FFFFFF;
    margin-left: -8px;
    border-radius: 0%;
}

.form-control {
    border-radius: 0% !important;
}

.hero-input-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 353px;
    height: 24px;
    align-items: flex-start;
}

.hero-radio label{
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
}

/* Hero Text (Left area) responsive  */

@media (max-width:556px){
    .hero-grid-wrapper {
        background:  url(../nlb-images/hero-orchestra.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-grid-wrapper .hero-text-left {
        margin: 10px;
        width: 100%;
        flex-direction: column;
        flex: content;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;

    }

    #hero-desc {
        font-size: 12px;
        line-height: 20px;
        margin: 10px;      
    
    }

    #hero-heading {
        font-size: 20px;
        line-height: 25px;
        margin: 0px;
    }

    #hero-search {
        height: auto;
        width: auto;
        margin: 10px;
    }

    .hero-input-wrapper{
       flex-direction: column;
       height: auto;
    }
}

/* Hero Area (Right-Grid)*/
 #grid-custom {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px !important; 
}

.col-4 {
    width: 392px !important;
    padding: 0% !important;
    position: relative;

}

.col-4 img{
    width: 196px;
    height: 196px;
}

.even-rows {
    position: relative;
    left: -86px;
    padding: 0px !important;
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #AD3241;
    padding: 10px 19.28px 12px 16px;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.bottom-right i {
    margin-left: 11.28px;
} 

.even-rows {
    position: relative;
    left: 143px;
}

.even-rows img{
    height: 198px !important;
}

#mobile-custom{
    display: none;
}

/* Hero Grid Right area responsive */
@media(max-width: 1439px){
    #mobile-custom{
        display: block;
    }
    #grid-custom{
        display: none
    }

    .custom-row{
        display: flex;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    .bottom-right-mob {
        background: #AD3241;
        padding: 10px 19.28px 12px 16px;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        width: max-content;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
    }

    .mob-cell{
        display: flex;
        flex-direction: column;
        width: max-content;
        position: relative;
    }

    .mob-cell img{
        width:  16.5vw;
        height: 16.5vw;
    }

    .carousel-arrow{
        display: none;
    }
}

@media(max-width: 1024px){
    .mob-cell img{
        width:  196px;
        height: 196px;
    }

    .carousel-arrow{
        height: max-content;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .carousel-symbol{
        background: #AD3241;
        padding: 10px 19.28px 12px 16px;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        width: max-content;
    
    }
}

/* Seperate Maroon Box which will be made display:none in other responsive design*/
.box {
    width: 196px;
    height: 196px;
}

#maroon-box-1 {
    background: #AD3241;
}

@media(max-width:1439px){
    .box {
        display: none;
    }
}


/* Content Wrapper */
.content-wrapper{
    display: flex;
}

/* Sidebar */

#left-sidebar{
    width: max-content;
    height: auto;
    padding: 82px 87px;
    margin-right: 55px;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: #222222;
}

.sidebar a {
    text-decoration: none;
    width: 182px;
    font-size: 28px;
    line-height: 34px;
    color: #222222;
    opacity: 0.2;
    margin: 32px 0px;
}

.sidebar span {

    font-size: 16px;
    line-height: 20px;
}

.sidebar .dropdown {
    margin: 32px 0px;
}

.sidebar .dropdown a i {
    width: 18px;
    height: 9px;
}

/* Sidebar Mobile Responsive */

@media(max-width:500px){
    #left-sidebar{
        padding: 10px;
        margin-right: 0px;
        text-align: center;
        color: #222222;
        width: 100%;
    }

    .sidebar a {
        width: auto;
        font-size: 20px;
        line-height: 25px;
        color: #222222;
        opacity: 0.2;
        margin: 10px 0px;
    }
    
    .sidebar span {
        margin: 30px;
        font-size: 12px;
        line-height: 10px;
        color: #AD3241;
    }
    
    .sidebar .dropdown {
        margin: 10px 0px;
    }
    
    .sidebar .dropdown a i {
        width: 10px;
        height: 5px;
    }
}

/* Sidebar tablets and ipads responsive */

@media (min-width:500.1px) and (max-width:800px) {
    #left-sidebar{
        width: auto;
        padding: 50px 55px;
        margin-right: 0px;       
    }
    
    .sidebar a {
        width: 150px;
        font-size: 25px;
        line-height: 30px;
    }
    
    .sidebar .dropdown {
        margin: 32px 0px;
    }
    
    .sidebar .dropdown a i {
        width: 18px;
        height: 9px;
    }
}

/* Right side content area */
#right-contentarea{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: -100px 0 345px 0;
}

.title-bullet {
    background: #AD3241;
    color: #AD3241;
    padding: 4px;
    margin: 0px 0px 24px 0px;
    margin-right: 10px;
    float: left;
    height: 30px;
}

#right-contentarea .row {
    margin: 30px 0px;
    object-fit: cover;
}

#right-contentarea .row .col {
    padding: 0px !important;
}

.container-title {
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 24px 0px;
}

.card-title {
    font-size: 16px;
    line-height: 20px;
    color: #AD3241;
    font-weight: bold;
}

.title-tag{
    font-size: 24px;
    line-height: 29px;
}

#right-contentarea .card {
    padding: 0px !important;
    width: 296px;
    height: auto;
    margin-right: 50px;
}

.card-border {
    border: 12px double #AD3241 !important;
    border-top: none !important;
    border-left: none !important;
}

.card .row {
    margin: 0px !important;
}

.my-row {

    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 300px;
    object-fit: cover;
    padding: 0px !important;

}

.my-row img {
    width: 100%;
    object-fit: cover;
    padding: 0px;
}

.my-row .col {
    padding: 0px !important;

}

.card-body {
    padding: 20px !important;
    width: 270px;
    display: flex;
}



.card-body i{
    width: 16.4px;
    height: 12.8px;
    color: #222222;
    margin-right: 20px;
   
}

.card-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
}

.icons-overlay i {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35px;
    background: #264EA2;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    padding: 6px;
}

.featured-tag {
    position: absolute;
    top: 12px;
    left: 12px;
    background: #AD3241;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    padding: 4px 8px;
    line-height: 12px;
    text-transform: uppercase;
}
