@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {

    max-width: 1440px;
    margin: 0 auto !important;
    font-family: 'Montserrat';
}

/* Navigation Bar */

nav {
    background: #FFFFFF;
    height: 155px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 0px 70px;
    position: sticky;
    top: 0px;
    z-index: 10;


}

nav div.header-logo {
    padding: 0px 20px;
}

nav div.nav-bar {
    display: flex;
    right: 40px;
    width: 580px;
    left: calc(50% - 580px/2);
    height: 48px;
    top: calc(50% - 48px/2 - 1px);

}

nav div.nav-bar span {
    margin: 0 44.7px;
    line-height: 45px;
}

nav div.nav-bar span a {
    color: #252B42;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    letter-spacing: 0.2px;
    text-decoration: none;

}

.nav-bar a.active,
.nav-bar a:hover {
    color: #FA4A0C;
}

nav .menu-btn i {
    color: #737373;
    opacity: 0.6;
    border-radius: 20px;
    width: 20px;
    height: 16px;
    cursor: pointer;
    display: none;
}

#click {
    display: none;
}

/* Hero area */
section div.hero-area {
    background-image: linear-gradient(0deg, rgba(23, 16, 16, 0.6), rgba(23, 16, 16, 0.6)), url(../fullsized-images/hero-banner.jpg);
    background-size: 100% 100%;
    height: 38.6875rem;
    width: inherit;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 73px 217.5px 223px;
}

.hero-content-wrapper {
    background-size: cover;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

#hero-h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    line-height: 36px;
    color: #FFFFFF;
}

#hero-h1 {
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
    font-size: 58px;
    text-align: center;
    color: white;
    white-space: pre-wrap;


}


#hero-h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;


    text-align: center;
    letter-spacing: 0.2px;

    color: #F7F7F7;

}

.button-wrapper {
    flex-direction: column;
    margin: 20px 0 0 0;

}

#playstore-btn {
    padding: 16px 58px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid white;
    margin: 17px;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;

}

#appstore-btn {
    padding: 16px 58px;
    border-radius: 30px;
    border: 1px solid white;
    margin: 17px;
    background-color: transparent;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;

}


.app-preview {
    height: 700px;
}

.previewimg-wrapper {
    text-align: center;
    position: relative;
}

#mobpre1 {
    position: relative;
    left: 2%;
    top: -120px;
    z-index: 1;
}

#mobpre2 {
    position: relative;
    top: -70px;
    left: auto;

}

.hr_h3 {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

}

.hr_h3 h3::before {
    content: '';
    width: 884px;
    background: #C4C4C4;
    border: 1.75px solid #E4E4E4;
    height: max-content;
    position: absolute;
    top: -72px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.hr_h3 h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #000000;
    opacity: 0.8;
}

.guide-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 760px;
    width: inherit;
}

.guide-preview-rev {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 760px;
    width: inherit;
}

.steps-img img {
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
}

.step {
    position: static;
    width: 568px;
    height: 280px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 70px 0px;
}

.step h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.step h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 17px 10px 27px 10px;
    position: static;
    left: 0%;
    right: 0%;
    top: 7.46%;
    bottom: 7.46%;

}

.step h4 {

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}



.footer-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-size: 100% 100%;
    height: 510px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(37, 43, 66, 0.4), rgba(37, 43, 66, 0.4)), url(../fullsized-images/footer-banner.jpg);
}

.footer-banner h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 10px;
    left: 1.91%;
    right: 1.91%;
    top: 12.99%;
    bottom: 12.99%;
}

.footer-banner h4 {
    left: 1.16%;
    right: 1.16%;
    top: 17.24%;
    bottom: 17.24%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}


.button-wrapper2 {
    flex-direction: row;
    margin: 54px 0 0 0;

}

#playstore-btn2 {

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    border-radius: 10px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    align-items: center;
    padding: 18px 31px;
    width: 142px;
    height: 64px;
    left: 0px;
    top: 0px;
    background: #FA4A0C;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}

#appstore-btn2 {

    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    width: 173px;
    height: 60px;
    left: 158px;
    top: 2px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;

}



#appstore-btn2:hover,
#playstore-btn2:hover,
#playstore-btn2.active,
#appstore-btn2.active,
#appstore-btn:hover,
#playstore-btn:hover,
#playstore-btn.active,
#appstore-btn.active {
    background-color: #FA4A0C;
    color: white;
    border: none;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.footer-brand {
    display: flex;
    justify-content: center;
    align-items: left;

}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.social-icons .social-ico-item {
    left: 9.37%;
    right: 9.37%;
    top: 16.99%;
    bottom: 16.99%;
    font-size: 32px;
    margin: 16px;
    align-items: center;
    color: #FA4A0C;
}

.copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    color: #5c5c5c;
}


/* Responsive Design */


@media (max-width: 1048px) {

    /* Nav Bar */
    nav {
        padding-left: 40px;
        justify-content: space-between;
    }

    nav div.nav-bar {
        width: 485px;
    }

    nav div.header-logo {
        padding: 0px;
        max-width: 200px;
        max-height: 96px;
    }

    nav div.nav-bar span {
        margin: 10px 40px;
        line-height: 30px;
    }

    nav div.nav-bar span a {
        display: block;
        font-size: 16px;
        padding: 0px;
    }

    /* Hero Area */
    #hero-h3 {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        letter-spacing: 0.1px;
        line-height: 36px;
        color: #FFFFFF;
    }

    #hero-h1 {
        font-size: 55px;
        line-height: 80px;
    }

    /* App preview */
    .app-preview {
        display: flex;
        position: relative;
        height: 600px;
        justify-content: center;

    }

    .previewimg-wrapper {
        text-align: center;
        position: absolute;
        margin: auto;
        justify-content: center;
    }

    #mobpre1 {
        position: relative;
        left: 4%;
        top: -120px;
        z-index: 1;
    }

    #mobpre2 {
        position: relative;
        top: -70px;
        left: auto;

    }

    /* Steps Section */


}

@media (max-width: 780px) {

    nav {
        background: #FFFFFF;
        height: 112px;
        max-height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 16px 0 16px 0;

    }

    nav div.header-logo img {
        padding: 0px;
        max-width: 104px;
        max-height: 51.37px;
        margin-left: 25px;
    }

    nav div.nav-bar {

        display: block;
        position: relative;
        ;
        background: #FFFFFF;
        width: 100%;
        left: 0;
        height: 0px;
        text-align: center;
        overflow: hidden;

    }

    #click:checked~div.nav-bar {

        overflow: visible;
        height: max-content;

    }

    nav div.nav-bar span {

        margin: 10px 10px;
        width: 100%;
    }

    nav .menu-btn i {
        display: block;
        margin: 32px 23px;
    }

    section div.hero-area {
        width: 100%;
        min-width: 414px;
        height: 704px;
        left: 0px;
        margin-top: 112px;
        background: #FAFAFA;
        flex: none;
        order: 1;
        align-self: none;
        flex-grow: 0;
        margin: 0px 0px;
        padding: 0;
    }

    .hero-content-wrapper {
        background-size: cover;
        margin-top: -100px;
        justify-content: stretch;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

    }

    #hero-h3 {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.1px;
        line-height: 24px;
        color: #737373;
        padding: 10.42% 2.76%;
        padding-bottom: 5.42%;

    }

    #hero-h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        line-height: 42px;
        letter-spacing: 0.2px;
        font-size: 36px;
        text-align: center;
        color: #252B42;
        white-space: pre-wrap;
        margin-bottom: 27px;

    }

    #hero-h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;

        margin: 0px 10px;
        margin-bottom: 40px;
        text-align: center;
        letter-spacing: 0.2px;

        color: #737373;

    }


    #playstore-btn {

        margin: 8px;
        margin-top: 0px;


    }

    #appstore-btn {

        border: 1px solid #FA4A0C;
        margin: 8px;
        color: #FA4A0C;

    }

    .app-preview {
        height: 700px;
        width: 100%;
    }

    #mobpre1 {

        top: -80px;
        width: 49.4%;
    }
    
    #mobpre2 {

        width: 49.4%;
    
    }
}